@page
@model WebApp.Pages.PizzaToppings.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pizza topping</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PizzaTopping.Id" />
            <div class="form-group">
                <label asp-for="PizzaTopping.PizzaId" class="control-label">Pizza</label>
                <select asp-for="PizzaTopping.PizzaId" class="form-control" asp-items="Model.PizzaIds"></select>
                <span asp-validation-for="PizzaTopping.PizzaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PizzaTopping.ToppingId" class="control-label">Topping</label>
                <select asp-for="PizzaTopping.ToppingId" class="form-control" asp-items="Model.ToppingIds"></select>
                <span asp-validation-for="PizzaTopping.ToppingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
