@page
@model WebApp.Pages.OrderExtras.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Extra toppings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderExtra.Id" />
            <div class="form-group">
                <label asp-for="OrderExtra.OrderId" class="control-label">Order name</label>
                <select asp-for="OrderExtra.OrderId" class="form-control" asp-items="Model.Orders"></select>
                <span asp-validation-for="OrderExtra.OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderExtra.ToppingId" class="control-label">Extra topping</label>
                <select asp-for="OrderExtra.ToppingId" class="form-control" asp-items="Model.Toppings"></select>
                <span asp-validation-for="OrderExtra.ToppingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <input type="hidden" name="orderId" asp-for="OrderId" />
                <input type="hidden" name="clientId" asp-for="ClientId" />
                <a class="btn btn-danger" asp-route-clientId="@Model.ClientId" asp-route-orderId="@Model.OrderId" asp-route-id="@Model.OrderExtra.Id" asp-page="/OrderExtras/Delete">Remove</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to Extra Toppings List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
